[submodule "core/libetpan"]
	path = core/libetpan
	url = git@github.com:plancksecurity/foundation-libetpan.git
	branch = develop
[submodule "core/planckCoreSequoiaBackend"]
	path = core/planckCoreSequoiaBackend
	url = git@github.com:plancksecurity/foundation-planckCoreSequoiaBackend.git
	branch = develop
[submodule "core/libPlanckTransport"]
	path = core/libPlanckTransport
	url = git@github.com:plancksecurity/foundation-libPlanckTransport.git
	branch = develop
[submodule "core/planckCoreV3"]
	path = core/planckCoreV3
	url = git@github.com:plancksecurity/foundation-planckCoreV3.git
	branch = develop
[submodule "core/libPlanckCxx11"]
	path = core/libPlanckCxx11
	url = git@github.com:plancksecurity/foundation-libPlanckCxx11.git
	branch = develop
[submodule "core/libPlanckWrapper"]
	path = core/libPlanckWrapper
	url = git@github.com:plancksecurity/foundation-libPlanckWrapper.git
	branch = develop
[submodule "core/planckJNIWrapper"]
	path = core/planckJNIWrapper
	url = git@github.com:plancksecurity/foundation-planckJNIWrapper.git
	branch = develop
[submodule "foldable-folder-list"]
	path = foldable-folder-list
	url = git@github.com:plancksecurity/android-foldable-folder-list.git
	branch = develop
[submodule "core/botan"]
	path = core/botan
	url = git@github.com:plancksecurity/botan.git
	branch = botan-2-planck
[submodule "core/jitterentropy-library"]
	path = core/jitterentropy-library
	url = git@github.com:plancksecurity/jitterentropy-library.git
	branch = develop
