<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fsck.k9">

    <application
        android:allowBackup="false"
        android:allowTaskReparenting="false"
        android:icon="@mipmap/ic_pep_launcher"
        android:roundIcon="@mipmap/ic_pep_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.K9.Light.NoActionBar"
        tools:replace="android:allowBackup">

        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>